.sidebar-toc-nav {
  width: 210px;
  margin-top: 15px;
  background: #fff;
  border-radius: 6px;
  padding: 0;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.sidebar-toc-nav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.sidebar-toc-nav > li:first-child > a {
  border-radius: 6px 6px 0 0;
}
.sidebar-toc-nav > li:last-child > a {
  border-radius: 0 0 6px 6px;
}
.sidebar-toc-nav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.sidebar-toc-nav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.sidebar-toc-nav > li > a:hover {
  background-color: #f5f5f5;
}
.sidebar-toc-nav a:hover .icon-chevron-right {
  opacity: .5;
}
.sidebar-toc-nav .active .icon-chevron-right,
.sidebar-toc-nav .active a:hover .icon-chevron-right {
  opacity: 1;
}
.sidebar-toc-nav.affix {
  top: 40px;
}
