html body.with-footer {
  padding-bottom: 50px;
}

html body.with-navbar {
  margin-top: 43px;
  background: #f5f5f5;
}

#c-footer {
  background: #e5e5e5;
  height: 40px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  color: #999;
  font-weight: 200;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#c-footer a {
  color: #999;
  font-weight: bold;
}

.form-block {
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 24px 12px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.form-block form {
  margin-bottom: 0;
}

.form-block .legend {
  color: #999;
  font-weight: 200;
}

.required-mark {
  display: inline-block;
  padding: 0 4px;
  color: red;
  font-weight: bold;
  text-shadow: 0 0 6px red;
}

.horizontal-divider {
  margin: 36px 0;
  display: block;
  border-top-color: #e5e5e5;
}

.centered {
  text-align: center;
}

.actions {
  text-align: right;
}

.actions .primary-actions {
  float: left;
  margin-left: 20px;
}

.actions .secondary-actions {
  float: right;
  margin-right: 20px;
}

.navbar a.brand {
  font-weight: bold;
  -webkit-transition: all .3s linear;
     -moz-transition: all .3s linear;
          transition: all .3s linear;
}

.navbar a.brand:hover {
  color: #fff;
  text-shadow: 0 -3px 10px yellow, 0 3px 10px red;
}

/* Gravatar */
img#gravatar {
  display: inline-block;
}

/* Main lists */
.main-list .item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.main-list .item:last-child {
  border-bottom-width: 0;
}

.scripts .script-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  margin-right: 1em;
}

.scripts .script .additional-information {
  color: #aaa;
  font-size: 12px;
}

.scripts .script .additional-information .description {
  font-size: 14px;
  margin-bottom: 7px;
}

.scripts .script .additional-information .icon {
  opacity: .5;
}

.scripts .script .at-a-glance {
  text-align: right;
  background: #f2f2f2;
  border-radius: 6px;
}

.scripts .script .at-a-glance a {
  color: #333;
}

.scripts .script .at-a-glance a:hover {
  text-decoration: none;
  opacity: .75;
}

.scripts .script .stats {
  padding: 4px 12px;
}

/* People lists */
.people-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.people-list li {
  padding: .5em 1em;
}

.people-list li img {
  display: inline-block;
  margin-right: 6px;
}

.people-list .username {
  font-weight: bold;
}

/* Asides */
aside.list {
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(100, 100, 100, .5);
  margin-bottom: 14px;
}

aside.list .title {
  font-size: 16px;
  border-bottom: 1px solid #red;
  border-radius: 6px 6px 0 0;
  background: #333;
  color: #fff;
  padding: 6px 12px;
  margin-bottom: 0;
}

aside.list .related-items {
  margin: 0;
}

aside.list .related-items .related-item {
  -webkit-transition: all .3s linear;
     -moz-transition: all .3s linear;
       -o-transition: all .3s linear;
          transition: all .3s linear;
  color: #aaa;
  background: #eee;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #f6f6f6;
  padding: 6px 12px;
}

aside.list .related-items .related-item:hover {
  background: #f6f6f6;
}

aside.list .related-items .related-item:last-child {
  border-bottom-width: 0;
  border-radius: 0 0 6px 6px;
}

aside.list .all {
  text-align: right;
}