html body {
  background: #f5f5f5;
}

.form-block {
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 24px 12px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.form-block form {
  margin-bottom: 0;
}

.form-block .legend {
  color: #999;
  font-weight: 200;
}

.required-mark {
  display: inline-block;
  padding: 0 4px;
  color: red;
  font-weight: bold;
  text-shadow: 0 0 6px red;
}

.horizontal-divider {
  margin: 36px 0;
  display: block;
  border-top-color: #e5e5e5;
}

.centered {
  text-align: center;
}

.actions {
  text-align: right;
}

.actions .primary-actions {
  float: left;
  margin-left: 20px;
}

.actions .secondary-actions {
  float: right;
  margin-right: 20px;
}