html body {
  background: #f5f5f5;
  padding-bottom: 50px;
}

html body.with-navbar {
  padding-top: 40px;
  background: #fff;
}

#c-footer {
  background: #e5e5e5;
  height: 40px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  color: #999;
  font-weight: 200;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#c-footer a {
  color: #999;
  font-weight: bold;
}

.form-block {
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 24px 12px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.form-block form {
  margin-bottom: 0;
}

.form-block .legend {
  color: #999;
  font-weight: 200;
}

.required-mark {
  display: inline-block;
  padding: 0 4px;
  color: red;
  font-weight: bold;
  text-shadow: 0 0 6px red;
}

.horizontal-divider {
  margin: 36px 0;
  display: block;
  border-top-color: #e5e5e5;
}

.centered {
  text-align: center;
}

.actions {
  text-align: right;
}

.actions .primary-actions {
  float: left;
  margin-left: 20px;
}

.actions .secondary-actions {
  float: right;
  margin-right: 20px;
}

.navbar a.brand {
  font-weight: bold;
  -webkit-transition: all .3s linear;
     -moz-transition: all .3s linear;
          transition: all .3s linear;
}

.navbar a.brand:hover {
  color: #fff;
  text-shadow: 0 -3px 10px yellow, 0 3px 10px red;
}